.wrapper {
  display: flex;
  width: 50%;
  gap: 5px;
  margin: 20px 0 10px;
}

.bar {
  width: 100px;
  height: 5px;
  background-color: gray;
  transition: background-color 0.3s;
  border-radius: 5px;
}
