$dark-text-color: rgba(255, 255, 255, 0.87);
$dark-bg-color: #242424;
$light-text-color: black;
$light-bg-color: white;

.light {
  color-scheme: light;
  color: $light-text-color;
  background-color: $light-bg-color;
}

.dark {
  color-scheme: dark;
  color: $dark-text-color;
  background-color: $dark-bg-color;
}

.main {
  display: flex;
  gap: 20px;
  min-height: 100vh;
  width: 100%;
}

.main-panel {
  flex: 0 1 100%;
}

.toggle-theme {
  margin: 0;
  position: absolute;
  top: 5px;
  right: 60px;
}

.toggle-input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-label {
  cursor: pointer;
  width: 50px;
  height: 25px;
  background: #ddd;
  display: block;
  border-radius: 100px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.toggle-label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 22px;
  transition: 0.3s;
}

.toggle-input:checked + .toggle-label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background: black;
}
