.card-list {
  display: flex;
  gap: 20px;
}

.cards {
  padding: 20px;
  flex: 0 1 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 0.5s ease;
  border: 1px solid #ddd;
  border-radius: 8px;
}
