.card {
  position: relative;
  width: 400px;
  height: 602px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition:
    transform 0.2s,
    box-shadow 0.2s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .checkbox {
    position: absolute;
    bottom: 15px;
    right: 10px;
    height: 30px;
    width: 30px;
  }
}
