.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;

  div {
    font-size: 1em;
    color: #333;
  }

  .label {
    font-weight: bold;
  }
}
