$dark-text-color: rgba(255, 255, 255, 0.87);
$dark-bg-color: #242424;
$light-text-color: black;
$light-bg-color: white;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.light {
  color-scheme: light;
  color: $light-text-color;
  background-color: $light-bg-color;
}

.dark {
  color-scheme: dark;
  color: $dark-text-color;
  background-color: $dark-bg-color;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
